.hidden {
  display: none;
}

.pizzas {
  border: solid 2px black;
  text-align: center;
  float: inherit;
}

.close {
  float: right;
  padding: 0px;
}
.pizzas p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
  text-decoration: yellowgreen;
}

 .pizzas ul {
  list-style: none;
  text-align: center;
  padding-right: 33px;

} 

#pizzaList {
  text-align: center;
  padding-right: 33px;
}

#pizzaDisplayBox {
  display: none;
}

#displayList {
  text-align: center;
  padding-right: 33px;
  list-style: none;
}

#pizzaList li{
  list-style: none;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

.confirmOrder {
  display: none;
}

.col-xs-6 {
  text-align: center;
}
.rog {
  text-align: center;
}

#resultBox {
  display: none;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

#rogers2 {
  display: none;
  width: 50%;
}

#rogers3 {
  align-items: center;
  display: none;
  width: 50%;
}

#again {
  display: none;
}
#headbox {
  color: yellow;
  border: 5px solid red;
  padding: 4px;
  background-color: red;
  text-align: center;
  margin-top: 10px;
}

body {
  background-color: orange;
}

.row {
  text-align: center;
}

.btn {
  color: white;
  border: 2px solid white;
  padding: 4px;
  background-color: peru;
  text-align: center;
}

.question {
  display: none
 
}

.center {
  text-align: center;
}

.panel {
  margin-top: 5%;
  margin-right: 20%;
  margin-left: 20%;
  background-color: rgba(147, 228, 224, 0.671);
  border: 5px solid black;
 

}

.panel > .panel-heading {
  text-align: center;
  background-color: peru;
  border-bottom-width: 5px;
  border-bottom-color: black;


}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}